<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="firstLaunch" value="true"/>
		<add key="culture_string" value="en-GB"/>
		<add key="defaultModsFolder" value="C:\Program Files(x86)\Steam\steamapps\common\DoorKickers2\mods"/>
		<add key="costumModsFolder" value="C:\Program Files(x86)\Steam\steamapps\common\DoorKickers2\mods"/>
	</appSettings>
</configuration>